# Prueba notebooks

## Definición de variables

Elevo $x$ al cuadrado $x^2$

In [91]:
x = 'hola'
y = 'que'
z = 'tal'

In [92]:
x + y + z

'holaquetal'

In [93]:
type(z)

str

In [94]:
x + y + z

'holaquetal'

In [95]:
type(x)

str

## Listas

In [99]:
lista_1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista_2 = list(range(20, 30))

In [100]:
print(lista_1)
print(lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [102]:
lista_1 + lista_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [104]:
len(lista_1)

11

In [105]:
lista_1.append(50)

In [107]:
lista_1.reverse()

In [109]:
lista_1.pop()

0

In [111]:
lista_1.pop(0)

50

In [113]:
lista_inv = lista_1[::-1]

In [114]:
lista_inv

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [115]:
lista_inv = lista_1.reverse()

In [120]:
type(lista_inv)

NoneType

In [123]:
x = 1.0

## Tuplas

In [129]:
tupla_1 = (1.0, '2', 3, 4, 5)
tupla_2 = (5, 4, 3, 2, 1)

In [134]:
tupla_sum = tupla_1 + tupla_2
print(tupla_sum)

(1, 2, 3, 4, 5, 5, 4, 3, 2, 1)

In [136]:
tupla_sum.count(5)

2

In [144]:
tupla_sum.index(5)

4

In [152]:
t_1 = (1,)

In [154]:
type(t_1)

tuple

## Diccionarios

In [232]:
distribucion_dado = [1/6, 1/6, 1/6, 0, 2/6, 1/6]
distribucion_dado

[0.16666666666666666,
 0.16666666666666666,
 0.16666666666666666,
 0,
 0.3333333333333333,
 0.16666666666666666]

In [228]:
distribucion_dado = {
    1: 1/6,
    2: 1/6,
    3: 0,
    4: 2/6,
    5: 1/6,
    6: 1/6,
}

In [229]:
distribucion_dado[3]

0.16666666666666666

In [223]:
distribucion_1 = {
    1: 0.2,
    2: 0.5,
    3: 0.3
}

In [226]:
distribucion_2 = {
    1: 0.2,
    2: 0.8,
    3: 0.2
}

In [218]:
distribucion_conjunta_1 = {
    (1, 2): 0.1,
    (3, 5): 0.3,
    (2, 5): 0.2,
    (5, 5): 0.4,
}

In [222]:
sum(distribucion_conjunta_1.values())

1.0

In [ ]:
distribucion_conjunta_1

In [ ]:
distribucion_conjunta_2 = {
    
}

In [ ]:
distribucion_conjunta

In [233]:
dict_1 = {
    "dni": 43121212,
    "nombre": "Juan",
    "edad": 25,
    "dirección": "Alsina 1234",
    (1, 2): 12
}
dict_2 = {
    "dni": 22123123,
    "nombre": "Pedro",
    "edad": 50,
    (1, 2): 23
}

In [240]:
lista_de_dicts = [dict_1, dict_2]

In [241]:
lista_de_dicts

[{'dni': 43121212,
  'nombre': 'Juan',
  'edad': 25,
  'dirección': 'Alsina 1234',
  (1, 2): 12},
 {'dni': 22123123, 'nombre': 'Pedro', 'edad': 50, (1, 2): 23}]

In [239]:
lista_de_dicts[1]['nombre']

'Pedro'

In [214]:
dict_1[(1, 2)]

12

In [207]:
dict_2.get("dirección")

In [ ]:
dict_2.get()

In [248]:
# dict_2["dirección"]

In [249]:
dict_1 = {
    "dni": 43121212,
    "nombre": "Juan",
    "edad": 25,
    "dirección": {
        "calle": "Alsina",
        "numero": "1234"
    },
}

In [251]:
print(lista_de_dicts)

[{'dni': 43121212, 'nombre': 'Juan', 'edad': 25, 'dirección': 'Alsina 1234', (1, 2): 12}, {'dni': 22123123, 'nombre': 'Pedro', 'edad': 50, (1, 2): 23}]

In [256]:
lista_de_dicts[0]['dirección']

'Alsina 1234'

In [275]:
dict_1 = {
    "dni": 43121212,
    "dni": 21231231,
    "nombre": "Juan",
    "edad": 25,
    "notas": [8, 7, 3, 10],
    "dirección": {
        "calle": "Alsina",
        "numero": "1234"
    },
}

In [276]:
dict_1

{'dni': 21231231,
 'nombre': 'Juan',
 'edad': 25,
 'notas': [8, 7, 3, 10],
 'dirección': {'calle': 'Alsina', 'numero': '1234'}}

In [265]:
dict_1['notas'][2:]

## Sets

In [277]:
lista_1 = [1, 1, 2, 2, 3, 1, 6, 7, 8]
set_1 = set(lista_1)
set_2 = set([1, 2, 100, 102])

In [280]:
print(set_1)
print(set_2)

{1, 2, 3, 6, 7, 8}
{1, 2, 100, 102}

In [287]:
set_2 - set_1

{100, 102}

In [283]:
set_1 - set_2

{3, 6, 7, 8}

In [289]:
set_2.intersection(set_1), set_1.intersection(set_2)

({1, 2}, {1, 2})

In [285]:
set_2.union(set_1)

{1, 2, 3, 6, 7, 8, 100, 102}

In [288]:
set.intersection(set_1, set_2)

{1, 2}

In [290]:
set.union(set_1, set_2)

{1, 2, 3, 6, 7, 8, 100, 102}

In [291]:
set(["hola", "que"])

{'hola', 'que'}