## Ciclo For

In [7]:
lista_1 = list(range(1, 50, 2))

In [8]:
print(lista_1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [24]:
lista_cuadrados_1 = []
for i, elem in enumerate(lista_1):
#     print(f'El cuadrado del elemento {i} que es {elem} es {elem**2}')
    lista_cuadrados_1.append(elem**2)

### List comprehension

In [33]:
lista_cuadrados_1 = [elem*2 for elem in lista_1]

In [35]:
print(lista_cuadrados_1)

[3, 7, 11, 15, 19, 23, 27, 31, 35, 39, 43, 47, 51, 55, 59, 63, 67, 71, 75, 79, 83, 87, 91, 95, 99]

In [36]:
dict_1 = {
    "dni": 43121212,
    "nombre": "Juan",
    "edad": 25,
    "direcci贸n": "Alsina 1234",
    (1, 2): 12
}
dict_2 = {
    "dni": 22123123,
    "nombre": "Pedro",
    "edad": 50,
    (1, 2): 23
}

In [42]:
for elem in dict_1:
    print(f'key: {elem} \t value: {dict_1[elem]}')

key: dni 	 value: 43121212
key: nombre 	 value: Juan
key: edad 	 value: 25
key: direcci贸n 	 value: Alsina 1234
key: (1, 2) 	 value: 12

In [45]:
for k, v in dict_1.items():
    print(f'key: {k} \t value: {v}')

key: dni 	 value: 43121212
key: nombre 	 value: Juan
key: edad 	 value: 25
key: direcci贸n 	 value: Alsina 1234
key: (1, 2) 	 value: 12

In [54]:
dict_1['edad'] = 25.0

In [62]:
dict_1

{'dni': 43121212,
 'nombre': 'Juan',
 'edad': 25.0,
 'direcci贸n': 'Alsina 1234',
 (1, 2): 12}

In [63]:
[v + 1 for k, v in dict_1.items() if str(v).isnumeric()]

[43121213, 13]

In [64]:
x = 1

numpy.number